<h1>Make your form here</h1>

<form action="/priate" method="post">
  Pirate Name: <input type="text" name="">
  Pirate Weight: <input type="text" name="">
  Pirate height: <input type="text" name="">
  Ship Name: <input type="text" name="">
  Ship Type: <input type="text" name="">
  Ship Booty: <input type="text" name="">
  <input type="submit" name="submit">

</form>
